{% extends 'base.html.twig' %}

{# {% block title %}Hello AccueilController!
{% endblock %} #}

{% block body %}

	<div class="messageabout">
		<h1>À propos ...
		</h1><br>
		<div class="miniabout">
			<img src="img/lacbleu.jpg" alt="">
			<img src="img/lepuy.jpg" alt="">
			<img src="img/retournac.jpg" alt="">
			<img src="img/mezenc.jpg" alt="">
		</div>
		<p>Bienvenue sur PixFromFrance.
        Il s’agit d’un site web qui met la Haute-Loire à l’honneur.
        Pour les amoureux de la photo et du voyage, ce site vous permettra de créer un photoblog de ce département en fonction d’un lieu précis.
        L'objectif est de pouvoir accéder à ses albums rapidement et facilement, de mémoriser chaque lieu visité, mais aussi de partager ses plus beaux clichés avec les autres utilisateurs, de commenter leurs photos et de donner l'envie de continuer à visiter et découvrir les richesses de la Haute-Loire.
        Bonne découverte !</p>
	</div>

{% endblock %}


