{% extends 'base.html.twig' %}

{% block body %}

<div class="messageaccount">
    
    <p class="messageaccount_title">Mon compte </p><br>

</div>

<div class="messageaccount_contain">
    <div class="messageaccount_contain1">
        <div class="messageaccount_contain1_onglets">
            <ul>
				<li>
					<a href="{{path('bibliotheque')}}">Bibliothèque</a>
				</li>
                <li>
					<a href="{{path('parameters')}}">Paramètres</a>
				</li>
            </ul>
        </div>
       
    </div>
    <div class="messageaccount_contain2">
    
    <p>Rechercher une photo</p><br>
    </div>
</div>

{% endblock %}
