{% extends 'base.html.twig' %}

{# {% block title %}Hello AccueilController!{% endblock %} #}

{% block body %}

<div class="messageaccount">
    
    <h1>Mon compte </h1<br>

</div>

<div class="messageaccount_contain">
    <div class="messageaccount_contain1">
        <div class="messageaccount_contain1_onglets">
            <ul>
				<li>
					<a href="{{path('bibliotheque')}}">Bibliothèque</a>
				</li>
                <li>
					<a href="{{path('parameters')}}">Paramètres</a>
				</li>
            </ul>
        </div>
       
    </div>
    <div class="messageaccount_contain2">
    <p>Bienvenue dans votre compte PixFromFrance.</p><br>
    <p>Dans l'onglet Bibliothèque, vous avez la possibilité de gérer vos photos.</p>
    <p>Dans l'onglet Paramètres, vous pouvez modifier votre pseudo ou supprimer votre compte.</p>
    </div>
</div>

{% endblock %}
