{% extends 'base.html.twig' %}



{% block body %}

<div class="messageaccount">
    
    <p class="messageaccount_title">Mon compte </p><br>

</div>

<div class="messageaccount_contain">
    <div class="messageaccount_contain1">
        <div class="messageaccount_contain1_onglets">
            <ul>
				<li>
					<a href="{{path('bibliotheque')}}">Bibliothèque</a>
				</li>
                <li>
					<a href="{{path('parameters')}}">Paramètres</a>
				</li>
            </ul>
        </div>
       
    </div>
    <div class="messageaccount_contain2">
    
    <p>Modifier son pseudo</p><br>

{# {{ include('account/_form.html.twig', {'button_label': 'Update'}) }} #}


    <p>Supprimer son compte</p>

    {# <form method="post" action="{{ path('user_delete') }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
    <button class="btn">Delete</button>
</form> #}

    </div>
</div>

{% endblock %}
