{% extends 'base.html.twig' %}

{# {% block title %}Register
{% endblock %} #}

{% block body %}

	<h1 class="registration_title">Inscription</h1>

	<div class="registration_form">

		{{ form_start(registrationForm) }}
		<div class="registration_form_div">
			{{ form_row(registrationForm.email) }}
		</div>

		<div class="registration_form_div">
			{{ form_row(registrationForm.username, {
                label: 'Pseudo'
            }) }}
		</div>
		<div class="registration_form_div">
			{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
		</div>
		<div class="registration_form_div">
			{{ form_row(registrationForm.agreeTerms) }}
		</div>

		<div class="registration_form_div">
			<button type="submit" class="registration_form_submit">S'inscrire</button>
		</div>
		{{ form_end(registrationForm) }}

	</div>


{% endblock %}
