@font-face {
    font-family: "NWF";
    src: url("/font/Northern Worssley Free.ttf");
   }


*{
    padding: 0;
    margin: auto;
    /* font-family: Helvetica, Arial; */
}

body{
    height:100%;
}

a{
    text-decoration:none;
    color: white;
}

a:hover{
    color: grey;
}

.nav{
    color:black;
}

h2{
    font-family: "NWF";
    font-size: 40px;
}

/* .nav:hover{
    text-decoration:underline;
} */

/* ------------------------- */
/* --------> HEADER <------- */
/* ------------------------- */

header{
    background-color: black;
    color:white;
    display: flex;
    width: 100%;
    height: 100%;
}

.header-menu{
    width: 100%;
}

.header-menu ul{
    display: flex;
    list-style-type: none;
    font-family: "NWF";
    font-size: 20px;
    letter-spacing: 4px;
}

.fa-solid {
    font-size:24px;
    margin-left: 10px;
}

.divuserconnect{
    position: absolute;
    right: 2%;
    top: 4%;
    display: flex;
    flex-direction: row-reverse;
    font-family: arial;
}

/* ------------------------- */
/* --------> CONTENT <------- */
/* ------------------------- */



/* --------> Accueil <------- */

/* .picaccueil{
    height: 400px;
}

.picaccueil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.messageaccueil{
     /* border: 2px solid black; */
     background-color: white;
     height: 244px;
     width: 600px;
     position: relative;
     top: 110px;
     padding: 20px;
     text-align: center;
     z-index: 2;
     display: flex;
     flex-direction: column;
     font-size: 20px;
     padding-bottom: 44px;
     border-radius: 10px;
     box-shadow: black;
     box-shadow: 4px 4px 16px 4px black;
     font-family: arial;
}

.messageaccueil img{
    position:relative;
}

h1{
    font-family: "NWF";
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: bold;
}

.miniaccueil{
    height: 130px;
    /* flex-direction: row; */
    position: relative;
    top: -310px;
    z-index: 1;
    opacity:0.8;
    margin-bottom: 92px;
}

.miniaccueil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --------> About <------- */

.messageabout{
       /* height: 500px; */
       width: 1000px;
       padding: 40px;
       text-align: center;
       display: flex;
       flex-direction: column;
       font-size: 20px;
       line-height: 24px;
       font-family: arial;
}

.messageabout_title{
    font-family: "NWF";
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: bold;
}

.miniabout{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px
}

.miniabout img{
       height: 100%;
       object-fit: cover;
       margin: 10px;;
}

/* --------> Mon compte <------- */

.table{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.tabledetails{
    display: flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
}

.deleteimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.deleteimg img{
    margin-bottom:10px;
}

.deleteimgdetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* --------> Formulaires de connexion et d'inscription <------- */

.connexion_form, .registration_form, .addnewplace_form{
    display:flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    box-shadow: 4px 4px 4px 4px grey;
    font-family: 'NWF';
    letter-spacing: 4px;
}

.connexion_form{
    height:420px;
    width:420px;
    margin-bottom:40px;
}

.registration_form, .addnewplace_form{
    padding: 10px;
    /* margin-top:22px; */
    margin-bottom:40px;
}

.connexion_title, .registration_title{
    margin:30px;
    color:black;
    text-align:center;
    font-family: 'NWF';
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: bold;
}

.connexion_form input, .registration_form input, .addnewplace_form input{
    /* width: 244px; */
    padding: 10px 0;
    font-size: 16px;
    color: #333333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #333333;
    
}

.connexion_form input:focus, .registration_form input:focus, .addnewplace_form input:focus{
    outline: none
}

.connexion_form_submit, .registration_form_submit, .addnewplace_submit{
    width: 144px;
    height: 44px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top:10px;
}

.connexion_form_submit:hover, .registration_form_submit:hover, .addnewplace_submit:hover{
    width: 144px;
    height: 44px;
    background-color: black;
    color: white;
    cursor: pointer;
    border:none;
    font-weight: bold;
}

.registration_form_div, .addnewplace{
    display:flex;
    text-align: center;
}

.form-group{
    display: flex;
    flex-direction: column;
}


/* --------> Ajouter/Rechercher un lieu <------- */


.place_index a{
    color:black;
}

.place_index a:hover{
    color: grey;
}

.messageplace h1{
 font-family: "NWF";
 font-size: 40px;
 letter-spacing: 4px;
 font-weight: bold;
}

.messageplace{
    width: 1000px;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 24px;
    font-family: arial;
}

.abcd{
  margin-top:40px;
}

.alphabet{
    width: 70%;
    text-align: center;
    background-color: #8080804a;
}

.searchcontent{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 10px;
}

.ajouteruneplace{
    height: 30%;
    width: 10%;
    position: fixed;
    /* left: 86%; */
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: arial;
}

.ajouteruneplace img{
    transition: all 1s ease;
}

.ajouteruneplace img:hover{
    transform:scale(1.25);
}

.ancre{
    display:flex;
    width:60%;
}
.ancre h2{
    font-size:20px;
}
/* -> Ajouter un lieu <- */

.messageaddplace{
    width: 1000px;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 24px;
    font-family: arial;
}

.messageaddplace h1{
    font-family: "NWF";
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: bold;
}
   

/* -> Affichage des images après recherche <- */


@media screen and (max-width: 1900px)
{
    .touteslesimages{
        /* display: flex;
        flex-direction: row; */
        /* flex-wrap: wrap; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
        .uneimage{
        display: flex;
        flex-direction: column;
        margin: 20px;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .uneimage img{
        width:100%;
        margin-bottom: 10px;
        cursor: pointer;
        height:100%;
    }
}

.cityname{
    margin:30px;
    color:black;
    text-align:center;
    font-family: 'NWF';
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: bold;
    margin-bottom:10px;
}

.imagesandadd{
    display:flex;
}

/* .navigation{
    position: fixed;
    background-color: grey;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 20px;
} */

.navigation{
    display: flex;
    padding: 24px;
    align-items: center;
    justify-content: space-evenly;
    width: 24%;
    position: absolute;
    font-family: arial;
}

.navigationtext1{
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
    /* margin-bottom: 40px; */
}

.navigationtext2{
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

/* .nav{
    margin-bottom:20px;
} */

.nav img{
    transition: all 1s ease;
}

.nav img:hover{
    transform: scale(1.25);
}
/* .uneimage img{
transition: transform .1s;
}

.uneimage img:hover{
    transform: scale(2.5);
} */


/* ------------------------- */
/* --------> FOOTER <------- */
/* ------------------------- */

footer{
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
    height: 100px;
    /* position: relative; */
    /* top: 92px; */
    font-family:arial;
    /* position: absolute;
    bottom: 0; */
}

