{% extends '@EasyAdmin/page/content.html.twig' %}



{% block content %}
  <a href="{{path('accueil')}}">Retour accueil</a><br>
    <h1>Administration</h1> <br>
    <p>Bienvenue dans l'interface d'administration de votre site internet.</p>
   
   
{% endblock %}