<form method="post" action="{{ path('photo_delete', {'id': photo.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette photo?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo.id) }}">
    <button class="btn">Supprimer définitivement</button>
</form>
