{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}


<div class="addnewplace_form">

		{{ form_start(form) }}
		<div class="addnewplace">
			{{ form_widget(form) }}
		</div>

		{# <div class="registration_form_div">
			{{ form_row(registrationForm.username, {
                label: 'Pseudo'
            }) }}
		</div> #}
		<div class="addnewplace">
			<button type="submit" class="addnewplace_submit">Ajouter</button>
		</div>
		{{ form_end(form) }}

	</div>