{% extends 'base.html.twig' %}

{# {% block title %}Edit Photo{% endblock %} #}

{% block body %}


<div class="navigation">	
		<p class="navigationtext1"><a class="nav" href="{{ path('photo_index') }}"><img src="/img/bouton-retour.png" alt="" height="40px"></a>Retour</p>
	</div>

<div class="messageplace">
    <h1>Modifier</h1>
</div>
   

    {{ include('photo/_form.html.twig', {'button_label': 'Update'}) }}


    {# {{ include('photo/_delete_form.html.twig') }} #}
{% endblock %}
