{% extends 'base.html.twig' %}

{# {% block title %}Photo index{% endblock %} #}

{% block body %}
    <div class="messageplace">
        <h1>Mon album</h1>
    </div>

   	<div class="messageplace">
		<p>Pour ajouter vos photos, allez sur la page Ajouter/Rechercher un lieu, et cliquez sur le lieu correspondant. <br>
		Si le lieu n'apparaît pas dans la liste, vous avez la possibilité de l'ajouter en cliquant sur Ajouter un lieu. <br>
		Bonne visite !</p>
	</div>

    <table>
        {# <thead>
            <tr> #}
                {# <th>Id</th> #}
                {# <th>Photo</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Modifier</th> #}
            {# </tr>
        </thead> #}
        <tbody class="table">
        {# {% if is_granted('ROLE_ADMIN') %} #}
        {% for photo in photos %}
        		
            <tr class="tabledetails">
                {# <td>{{ photo.id }}</td> #}
                <td><img src="{{ asset('/uploads/' ~ photo.title) }}" alt="photo" height="200px"></td>
                <td>{{ photo.name }}</td>
                {# <td>{{ photo.description }}</td> #}
                {# <td>{{ photo.date ? photo.date|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    {# <a href="{{ path('photo_show', {'id': photo.id}) }}">show</a> #}
                    <a href="{{ path('photo_edit', {'id': photo.id}) }}"><img src="/img/Editer.png" height="24px" ></a>
                    <a href="{{ path('photo_delete', {'id': photo.id}) }}"><img src="/img/trash.png" height="24px" ></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune photo</td>
            </tr>
        {% endfor %}
        {# {% endif %} #}
        </tbody>
    </table>
{% endblock %}
