{% extends 'base.html.twig' %}

{# {% block title %}New Photo{% endblock %} #}

{% block body %}
 
<div class="navigation">	
		<p class="navigationtext1"><a class="nav" href="{{ path('place_index') }}"><img src="/img/bouton-retour.png" alt="" height="40px"></a>Retour</p>
	</div>

<div class="contentnewplace">
    <div class="messageaddplace">
	<h1>Ajouter une photo</h1>
</div>


    {{ include('place/_form.html.twig') }}

</div>
{% endblock %}