{% extends 'base.html.twig' %}

{# {% block title %}Photo{% endblock %} #}

{% block body %}

<div class="navigation">	
		<p class="navigationtext1"><a class="nav" href="{{ path('photo_index') }}"><img src="/img/bouton-retour.png" alt="" height="40px"></a>Retour</p>
	</div>

<div class="messageplace">
    <h1>Supprimer</h1>
</div>
    

    <div class="deleteimg">
        <div class="deleteimgdetails">
            <img src="{{ asset('/uploads/' ~ photo.title) }}" alt="photo" height="400px">
            {{ photo.name }}
        </div>
            
            {{ include('photo/_delete_form.html.twig') }}
    </div>

    {# <a href="{{ path('photo_edit', {'id': photo.id}) }}">edit</a> #}

    
{% endblock %}
