{% extends 'base.html.twig' %}

{# {% block title %}Hello AccueilController!{% endblock %} #}

{% block body %}


<div class="messageaccueil">
    <img src="img/punaise.png" alt="" height="60px">
    <h1>Bienvenue</h1>
        {% if app.user %}	
            {# {{ app.user.username }} #}
            <br>
        {% else %}
            <p>Connectez vous ou inscrivez vous pour découvrir tous les plus beaux clichés de Haute Loire, et partagez les vôtres.</p>
        {% endif %}
</div>

<div class="miniaccueil">
    <img src="img/lacbleu.jpg" alt="">
    <img src="img/lepuy.jpg" alt="">
    <img src="img/retournac.jpg" alt=""> 
    <img src="img/mezenc.jpg" alt="">
   
</div>

{% endblock %}
