{% extends 'base.html.twig' %}

{# {% block title %}Edit Place{% endblock %} #}

{% block body %}
    <h1>Edit Place</h1>

    

    <a href="{{ path('place_index') }}">back to list</a>


{# Un user ne doit pas pouvoir delete, seulement l'admin a cette permission. #}
    {# {{ include('place/_delete_form.html.twig') }} #}
{% endblock %}
