{% extends 'base.html.twig' %}

{# {% block title %}Place index{% endblock %} #}

{% block body %}

<div class="place_index">

	<div class="messageplace">
		<h1>Ajouter / Rechercher un lieu</h1>
	</div>


    {# ancre pour faciliter recherche #}
	<div class="ancre">
		{% for letter in "a".."z" %}
		<a href="#{{letter}}"><h2>{{letter}}</h2></a>
		{% endfor %}
	</div>



	<div class="searchcontent">
		<div class="alphabet">
			{% for letter in "a".."z" %}
				<div class="abcd">
					<div>
						<h2 id="{{letter}}">{{letter|upper}}</h2>
					</div>
					<div>
						{% for place in places %}
							{% if place.name|first|lower == letter %}
								{# {% for place in places|slice(0,0) %} #}
								<div>
									<span><a href="{{ path('place_show', {'id': place.id}) }}">{{ place.name|upper }}</a></span>
									<span>{{ place.CP }}</span>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	
	<div class="ajouteruneplace">
		<a href="{{ path('place_new') }}"><img src="/img/plus.png" alt="" height="40px"></a>
		<p>Ajouter un lieu</p>
		<a href="#recherche"><img src="/img/haut.png" alt="" height="40px"></a>
		<p>Haut de page</p>
	</div>


</div>




{% endblock %}

