{% extends 'base.html.twig' %}

{# {% block title %}Place{% endblock %} #}

{% block body %}

 <div class="navigation">	
		<p class="navigationtext1"><a class="nav" href="{{ path('place_index') }}"><img src="/img/bouton-retour.png" alt="" height="40px"></a>Retour</p>
		<p class="navigationtext2"><a class="nav" href="{{ path('photo_new', {'id': place.id}) }}"><img src="/img/plus.png" alt="" height="40px"></a>Ajouter une photo</p>
	</div>
    <h1 class="cityname">{{ place.name|upper  }} - {{ place.CP }}</h1>

	


 
<div class="imagesandadd">
	{% if app.request.attributes.get('_route') == 'place_show' %}
		{# <h2>Images</h2> #}
		<div class="touteslesimages">
			{% for placePhoto in place.placePhoto %}
				{# <pre>
									{{ dump(placePhoto) }}
								</pre> #}
				<div class="uneimage">
					<img
					src="{{ asset('/uploads/' ~ placePhoto.title) }}" alt="photo" onclick="window.open(this.src,'_blank','toolbar=0, location=0, directories=0, status=0, scrollbars=0, resizable=0, copyhistory=0, menuBar=0, height='+this.height);">
					{# <a href="{{ path('annonces_delete_image', {'id': image.id}) }}"
									            data-delete data-token="{{ csrf_token('delete' ~ image.id)}}"> Supprimer </a> #}

					<tr>
						<td>{{ placePhoto.name }}</td>
						{# <td>{{ placePhoto.description }}</td> #}
						{# <td>{{ placePhoto.photo_user }}</td> #}
					</tr>
				</div>
{% else %}
            <tr>
                <td colspan="6">Aucune image</td>
            </tr>
			{% endfor %}
		</div>
	{% endif %}

</div>





{# {{ include('place/_delete_form.html.twig') }} #}
{% endblock %}
