<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}PixFromFrance
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		{% block stylesheets %}
			<link rel="stylesheet" href="/style.css">
			{# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> #}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>



	<header  id="recherche">
		<div class="header_title">
			<img src="/img/PixFromFrance - Copie.jpg" height="180px" >
		</div>

		{% if app.user %}
			<div class="divuserconnect">
				<i class="fa-solid fa-circle-user"></i>
				<p class="userconnect">
					Bonjour,
					{{ app.user.username }}</p>
			</div>
		{% endif %}



		<div class="header-menu">
		
		
			<ul>
				<li>
					<a href="{{path('accueil')}}">Accueil</a>
				</li>
				<li>
					<a href="{{path('about')}}">A propos</a>
				</li>
				{% if app.user %}
					<li>
						<a href="{{path('place_index')}}">Ajouter/Rechercher un lieu</a>
					</li>
					<li>
						<a href="{{path('photo_index')}}">Mon album</a>
					</li>
					{% if is_granted('ROLE_ADMIN') %}
						<li>
							<a href="{{ path('admin') }}">Admin</a>
						</li>
					{% endif %}
					<li>
						<a href="{{ path('app_logout') }}">Se deconnecter</a>
					</li>
				{% else %}
					<li>
						<a href="{{path('app_register')}}">Inscription</a>
					</li>
					<li>
						<a href="{{path('app_login')}}">Connexion</a>
					</li>
				{% endif %}

				{# {% if app.user %} 
				                {% if is_granted('ROLE_ADMIN') %}
				                    <li><a href="{{ path('admin') }}">Admin</a></li>
				                    <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
				                    {% endif %}
				                {% else %}
				                    <li><a href="{{ path('app_login') }}">Se connecter</a></li>
				                    <li><a href="{{ path('app_register') }}">Inscription</a></li>
				                {% endif %} #}
			</ul>
		</div>
	</header>


	<body>
		{% block body %}{% endblock %}

	
	</body>

	<footer>
	<p>© Copyright 2022 PixFromFrance</p>
	</footer>
</html>
